<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zamanak.gifttreelibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.zamanak.gifttree.controller.App"
        >

        <activity android:name="com.zamanak.gifttree.activity.ScoreActivity" android:theme="@style/App_Theme" />
        <activity android:name="com.zamanak.gifttree.activity.AdvancedWebViewActivity"/>
        <activity android:name="com.zamanak.gifttree.activity.ChanceResultActivity" />
        <activity android:name="com.zamanak.gifttree.activity.TryChanceActivity"  />
        <activity android:name="com.zamanak.gifttree.activity.EntryActivity" android:theme="@style/App_Theme" />
    </application>

</manifest>
